/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
}

/* inherit border-box on all elements in the universe and before and after
   */
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Geneva, sans-serif;
}

a {
    color: #2772B0;
}

.wrapper {
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
}

html {
    font-size: 100%;
    /* 16px */
}

body {

    font-family: Yahei, Arial, Helvetica, sans-serif;
    background-color: #34495e;
}


/* Flexbox grid */
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.col-1 {
    flex: 0 0 80%;
}

header {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.container {
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    padding: 20px;
    background-color: #191919;
    margin: 5vh auto;
}

.number-wrapper {
    text-align: center;
    font-size: 2.5rem;
}

.number-wrapper div {
    width: 1em;
    height: 1em;
    overflow: hidden;
    color: white;
    line-height: 1em;
    display: inline-block;
}

/* User-input form styling */
.form.row {
    width: 80%;
}

.form.row>* {
    text-align: center;
    flex: 0 0 60%;
    color: white;
}

.btn {
    font-size: 1.5rem;
    color: white;
    margin: 10px 0;
    background: none;
    outline: none;
    padding: 5px;
    border: 2px solid #3498db;
    border-radius: 10px;
}

input {
    border: 0;
    background: none;
    margin: 20px 0;
    font-size: 1rem;
    padding: 14px 10px;
    display: block;
    text-align: center;
    border: 2px solid #3498db;
    border-radius: 24px;
    transition: 0.25s;
}


.btn:hover {
    background: #2ecc71;
}

span {
    position: relative;
}

.animate {
    -webkit-animation: spinit 0.2s 5;
    -moz-animation: spinit 0.2s 5;
    animation: spinit 0.2s 5;
}

/* animation */
@-webkit-keyframes spinit {
    0% {
        top: 0em;
    }

    50% {
        top: -5em;
    }

    100% {
        top: -9em;
    }
}

@-moz-keyframes spinit {
    0% {
        top: 0em;
    }

    50% {
        top: -5em;
    }

    100% {
        top: -9em;
    }
}

@keyframes spinit {
    0% {
        top: 0em;
    }

    50% {
        top: -5em;
    }

    100% {
        top: -9em;
    }
}

/* Set the value according to the on-load position of the spinner */

#digit1 {
    top: -2em;
    /* -4em means 5 will be the number */
}

#digit2 {
    top: -9em;
}

/* tablet screen */
@media screen and (min-width: 400px) {
    .container {
        max-width: 300px;
        max-height: 300px;
    }

    .form.row {
        max-width: 200px;
    }
}

/* large screen */
@media screen and (min-width: 1400px) {
    html {
        font-size: 120%;
        /* 20px */
    }

    .form.row {
        max-width: 240px;
    }
}